*.log
*.pyc
*__/
__*/
*.sqlite3
__*.js
out/
.DS_Store

node_modules/
package-lock.json
.env

config/*.json
!config/*.example.json
!config/default.json

src/data/*.json
protected-media

.marker
.keyWithErrors
*.out

*.csv
*.rdb
